:root {
    --logo-orange:  #EA9239;
  }

/* Custom CSS for the first container of Home Page*/

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red; /* Adjust color as needed */
  font-size: 12px; /* Adjust font size as needed */
  display: none; /* Initially hide the error message */
}

/* Show error message when input is invalid */
.error {
  display: block;
}
 .navbar-expand-custom {
    justify-content: center;
  }
  .logo {
    width: 130px; /* Adjust the max-width of the logo */
    margin-left: 30px;
    margin-top: 15px;
  }
  .search-bar {
    width: 6500px; /* Adjust width as needed */
    max-width: 650px; /* Set maximum width for input */
  }
  .form-inline {
    display: flex;
    justify-content: center;
  }
  .login-text {
    margin-left: 10px; /* Adjust the margin as needed */
  }

  .navbar-light .navbar-nav .nav-link {
    color: black; /* Set text color for navbar links */
  }  
  .navbar-light.bg-light {
    background-color: transparent!important; /* Set background color for navbar */
    border-bottom: 1px solid var(--logo-orange); /* Add border style */
}
.search-bar {
    border-color: rgb(40, 37, 37); /* Set border color to orange */
  }
  
  .search-bar:focus {
    outline: none;
    border-color: var(--logo-orange); /* Set border color to orange on focus */
    box-shadow: none;
  }
  
  .btn-search {
    background-color: var(--logo-orange); /* Set background color for search button */
  }

  .row {
    margin-top: opx;
  }

/* Change color of delete button */
.search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    width: 16px; /* Adjust the width if needed */
    height: 16px; /* Adjust the height if needed */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23000000'%3E%3Cpath d='M16.971 4.03c-.66-.66-1.709-.66-2.368 0L10 7.633 5.397 4.03c-.66-.66-1.709-.66-2.368 0-.66.66-.66 1.709 0 2.368L7.633 10l-4.603 4.603c-.66.66-.66 1.709 0 2.368.33.33.764.496 1.198.496s.868-.165 1.198-.496L10 12.367l4.603 4.603c.33.33.764.496 1.198.496s.868-.165 1.198-.496c.66-.66.66-1.709 0-2.368L12.367 10l4.603-4.603c.66-.659.66-1.708 0-2.367z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }
 
  .btn-orange {
    background-color: var(--logo-orange); /* Set background color for button */
    border-color: var(--logo-orange); /* Set border color for button */
    color: white; /* Text color */
  }
  .btn-orange:hover {
    background-color: white; /* Change background color on hover */
    color: var(--logo-orange); /* Change text color on hover */
    border-color:var(--logo-orange)
  }
  button.btn.btn-primary.btn-orange{
    margin-top: 10px;
    width: 90%;
  }

/* Custom CSS for adding space between navbar elements */
.navbar-nav .nav-item {
    margin-right: 30px; /* Adjust this value according to your preference */
}
.col-auto {
  margin-right: 30px; /* Adjust this value according to your preference */
}
.container-fluid {
  margin-top: 15px;
}

/* Styling for the login button */
.login-button.login {
  border-color: var(--logo-orange); /* Orange border for login button */
  color: black;
}

/* Styling for the signup button */
.login-button.signup {
  background-color: var(--logo-orange); /* Orange background for sign-up button */
  color: white; /* White text for sign-up button */
}

/* Change background color of login button on hover */
.login-button.login:hover {
  background-color: var(--logo-orange);
  color:white;
}

/* Change background color of signup button on hover */
.login-button.signup:hover {
  background-color: white; /* White background for sign-up button on hover */
  color:black;
  border-color: var(--logo-orange); /* Orange border for sign-up button on hover */
}
.login-button {
  padding: 5px 10px; /* Increase padding to increase width */
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
}
.error-box {
  text-align: center;
  font-size: 15px;
  color: var(--logo-orange);
}



/* Media query for Home Page*/

@media (max-width: 576px) {
  .logo-button {
    margin-right: auto;
  }
  .search-bar {
    width: 40%;
  }
  .login-button {
    display: none; /* Hide login button */
  }
}


@media (max-width: 576px) {
  .search-bar {
    width: 55%; /* Adjust width for smaller screens */
    height: 65%;
    margin-top: 10px;
  }
  .logo {
    width: 100px;
  }
}

@media (min-width: 576px) and (max-width: 750px) {
  .search-bar {
    width: 70%;
  }
  .logo {
    width: 110px;
}
}

@media (min-width: 750px) and (max-width: 800px) {
  .search-bar {
    width: 90%;
  }
  .logo {
    width: 120px;
}
}

@media (min-width: 800px) and (max-width: 1000px){
  .search-bar {
    width: 300px; /* Set default width to 100% */
  }
  .logo {
    width: 125px;
}
}

@media (min-width: 1000px) and (max-width: 1200px){
  .search-bar {
    width: 400px; /* Set default width to 100% */
  }
  .logo {
    width: 130px;
}
}


/* HOME PAGE THIRD ROW*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .text {
    flex: 1;
    padding: 110px;
  }
  
  .image {
    flex: 1;
    text-align: right;
  }
  
  img {
    max-width: 100%;
    height: auto;
    max-height: 900px; /* Limiting the height of the image */
  }
  #maintext {
    font-size: 35px;
  }
  .container{
    margin-top: 40px;
  }
  .col-7{
    margin-top: 160px;
  }
  .btn-primary{
    color: white;
    background-color: #EA9239;
    border-color: #EA9239;
  }
  .btn-primary:hover{
    color: white;
    background-color: black;
    border-color: #EA9239;
  }
  

