:root {
    --logo-orange:  #EA9239;
  }

/* Custom CSS for the first container of Home Page*/

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red; /* Adjust color as needed */
  font-size: 12px; /* Adjust font size as needed */
  display: none; /* Initially hide the error message */
}

/* Show error message when input is invalid */
.error {
  display: block;
}
 .navbar-expand-custom {
    justify-content: center;
  }
  .logo {
    width: 120px; /* Adjust the max-width of the logo */
    margin-left: 5px; 
  }
  .container-fluid {
    margin-top: 10px;
  }
  .search-bar {
    width: 650px;
    
  }
  .form-inline {
    display: flex;
    justify-content: center;
  }
  .login-text {
    margin-left: 10px; /* Adjust the margin as needed */
  }

  .navbar-light .navbar-nav .nav-link {
    color: black; /* Set text color for navbar links */
  }  
  .navbar-light.bg-light {
    background-color: transparent!important; /* Set background color for navbar */
    border-bottom: 1px solid var(--logo-orange); /* Add border style */
}
.search-bar {
    border-color: rgb(40, 37, 37); /* Set border color to orange */
  }
  
  .search-bar:focus {
    outline: none;
    border-color: var(--logo-orange); /* Set border color to orange on focus */
    box-shadow: none;
  }
  
  .btn-search {
    background-color: var(--logo-orange); /* Set background color for search button */
  }

  .row {
    margin-top: opx;
  }

/* Change color of delete button */
.search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    width: 16px; /* Adjust the width if needed */
    height: 16px; /* Adjust the height if needed */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23000000'%3E%3Cpath d='M16.971 4.03c-.66-.66-1.709-.66-2.368 0L10 7.633 5.397 4.03c-.66-.66-1.709-.66-2.368 0-.66.66-.66 1.709 0 2.368L7.633 10l-4.603 4.603c-.66.66-.66 1.709 0 2.368.33.33.764.496 1.198.496s.868-.165 1.198-.496L10 12.367l4.603 4.603c.33.33.764.496 1.198.496s.868-.165 1.198-.496c.66-.66.66-1.709 0-2.368L12.367 10l4.603-4.603c.66-.659.66-1.708 0-2.367z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }
 
  .btn-orange {
    background-color: var(--logo-orange); /* Set background color for button */
    border-color: var(--logo-orange); /* Set border color for button */
    color: white; /* Text color */
  }
  .btn-orange:hover {
    background-color: white; /* Change background color on hover */
    color: var(--logo-orange); /* Change text color on hover */
    border-color:var(--logo-orange)
  }
  button.btn.btn-primary.btn-orange{
    margin-top: 10px;
    width: 90%;
  }

/* Custom CSS for adding space between navbar elements */
.navbar-nav .nav-item {
    margin-right: 30px; /* Adjust this value according to your preference */
}
.col-auto {
  margin-right: 5px; /* Adjust this value according to your preference */
}
.container-fluid {
  margin-top: 15px;
}

/* Styling for the login button */
.login-button.login {
  border-color: var(--logo-orange); /* Orange border for login button */
  color: black;
}

/* Styling for the signup button */
.login-button.signup {
  background-color: var(--logo-orange); /* Orange background for sign-up button */
  color: white; /* White text for sign-up button */
}

/* Change background color of login button on hover */
.login-button.login:hover {
  background-color: var(--logo-orange);
  color:white;
}

/* Change background color of signup button on hover */
.login-button.signup:hover {
  background-color: white; /* White background for sign-up button on hover */
  color:black;
  border-color: var(--logo-orange); /* Orange border for sign-up button on hover */
}
.login-button {
  padding: 5px 10px; /* Increase padding to increase width */
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
}
.error-box {
  text-align: center;
  font-size: 15px;
  color: var(--logo-orange);
}



/* Media query for Home Page*/


@media (max-width: 576px) {
  .search-bar {
    width: 60%; /* Adjust width for smaller screens */
    height: 65%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .logo {
    width: 90px;
  }
  .search-bar::placeholder {
    font-size: 15px !important; /* Adjust the size as needed */
}
}

@media (min-width: 576px) and (max-width: 750px) {
  .search-bar {
    width: 70%;
    margin-left: 15px;
  }
  .logo {
    width: 110px;
}
}

@media (min-width: 750px) and (max-width: 800px) {
  .search-bar {
    width: 95%;
  }
  .logo {
    width: 120px;
}
.navbar-nav .nav-item {
  margin-right: 0px; /* Adjust this value according to your preference */
}
}

@media (min-width: 800px) and (max-width: 1000px){
  .search-bar {
    width: 350px; /* Set default width to 100% */
  }
  .logo {
    width: 125px;
}
.navbar-nav .nav-item {
  margin-right: 10px; /* Adjust this value according to your preference */
}
}

@media (min-width: 1000px) and (max-width: 1200px){
  .search-bar {
    width: 500px; /* Set default width to 100% */
  }
  .logo {
    width: 130px;
}
.navbar-nav .nav-item {
  margin-right: 15px; /* Adjust this value according to your preference */
}
}

/* HOME PAGE THIRD ROW*/

/* add header to the top of the slideshow */
* {
  box-sizing: border-box;
}

header {
  text-align: left;
  color: black;
  padding: 60px 60px;
}

.image-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center; /* Center the image horizontally */
}

.slideshow-header {
  text-align: center;
  margin-bottom: 20px;
}

.mySlides {
  display: none;
}

img {
  width: 70%;
  display: block; /* Ensure the image is displayed as a block element */
  margin: 0 auto; /* Center the image horizontally */
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from { opacity: .7; }
  to { opacity: 1; }
}

#maintext {
  font-size: 23px;
  margin-top: 40px;
}

/* LOGIN PAGE */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.lead {
    color: black ;
    font-size: 1.5rem;
}
.form-control{
    border-color:black;
}
.form-control:focus {
    border-color: var(--logo-orange) !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25) !important;
}
.link-danger {
    color: var(--logo-orange) !important;
    text-decoration-color: var(--logo-orange) !important;
}
.link-danger:hover {
    color: #633f1a!important;
    text-decoration-color: #633f1a !important;
}
/* Change input placeholder text size */
.form-control::placeholder {
    font-size: 17px; 
}
/* Change input text size */
.form-control {
    font-size: 16px; 
}
.form-check-input:checked {
    background-color:var(--logo-orange) !important;
    border-color: var(--logo-orange) !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25) !important; /* Add box shadow */
    border-color: black !important;
}
.form-check-input:not(:checked) {
    box-shadow: none !important;
    border-color: black !important;
}
.btn-primary {
    background-color: var(--logo-orange) !important;
    border-color: var(--logo-orange) !important;
    padding: 5px 23px !important;
}
.btn-primary:hover {
    background-color: white !important;
    border-color: var(--logo-orange) !important;
    color: black !important;
    box-shadow: 0 0 0 0.15rem rgba(255, 165, 0, 0.25) !important;
}




